@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br>
    <div class="mb-3">

        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" id="exampleFormControlInput1" placeholder="name@example.com"></input>
        <label for="exampleFormControlInput1" class="form-label">Amount NGN</label>
        <input type="number" id="exampleFormControlInput1" value="10000"></input>
        
    </div>

    <button type="submit" class="btn btn-primary" onclick="OpenLink">Proceed To Payment</a>
    
</div>
